<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Tableau de bord</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <header class="bg-light py-3 mb-3 text-center">
      <h1>Tableau de bord</h1>
      <a href="{{ url_for('index') }}" class="btn btn-primary">Retour à la gestion de Tickets</a>
    </header>
    <div class="container">
      <p>Contenu du Tableau de bord.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
